<div>
  <h1>zip waits until both observables have emitted.
      it pairs the first emit of the first observable with the first emit of the second.
      the second emit of the first with the second of the second etc.</h1>
  <h2>Will complete, when the end of any of the zipped observables is reached</h2>
  <h2>{{ observable | async }}</h2>
  <app-marble-diagram #marble2></app-marble-diagram>
  <app-marble-diagram #marble></app-marble-diagram>
  <app-marble-diagram #marble3></app-marble-diagram>
</div>
