#header-component {
  height:36px;
  min-width: calc(100vw - 25px);
  background-color: #03192B;
  color:white;
}

#header-left {
  width: calc(100% - 10px);
  float:left;
  text-align:left;
  font-family: 'PT Sans', sans-serif;
  font-size:20px;
  padding:5px;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  overflow:hidden;
}

#header-right {
  width: 295px;
  float:left;
  text-align:right;
}

@media (max-width: 700px) {
  #header-component {
    min-width: calc(100vw - 34px);
  }
}
