<div>
  <app-page-header [topic]="'race'" [headline]="'The observable to emit first is used.'"></app-page-header>
  <div class="page-content">
    <h2>Returns an Observable that mirrors the first source Observable to emit an item.</h2>
    <h3>Racing observables:</h3>
    <app-marble-diagram #marble></app-marble-diagram>
    <app-marble-diagram #marble2></app-marble-diagram>
    <app-marble-diagram #marble3></app-marble-diagram>
    <h3>Race winner:</h3>
    <app-marble-diagram #marble4></app-marble-diagram>
  </div>
</div>
