<div>
    <app-page-header [topic]="'debounce'" ></app-page-header>
    <div class="page-content">
      <h1>Discard emitted values that take less than the specified time, based on selector function, between output.</h1>
      <h2>Source emits on mouseclick. Only if the observable has not emitted for 500 ms, is the last event emitted through debounce.</h2>
      <h3>Source (click) stream</h3>
      <app-marble-diagram #marble2></app-marble-diagram>
      <h3>Debounced (click) stream</h3>
      <app-marble-diagram #marble></app-marble-diagram>
    </div>
  </div>
