<div id="combine-all-outer">
  <app-page-header
    [topic]="'combineAll'"
    [headline]="'When source observables complete use combineLatest with collected observables.'"
  ></app-page-header>
  <div class="page-content">
    <div id="combine-all">
      <h2>Click three times to start an observable each.</h2>
      <app-marble-diagram #marble></app-marble-diagram>
      <app-marble-diagram #marble2></app-marble-diagram>
      <app-marble-diagram #marble3></app-marble-diagram>
      <div style="width:100%">
        <h2>
          As soon as the last observable is started, combineAll starts to replay
          all observables merged by combineLatest. It then merges the output
          into one observable.
        </h2>
      </div>
      <app-marble-diagram #marble5></app-marble-diagram>
      <app-marble-diagram #marble6></app-marble-diagram>
      <app-marble-diagram #marble7></app-marble-diagram>
      <app-marble-diagram #marble9></app-marble-diagram>
    </div>
  </div>
</div>
