<div>
  <app-page-header [topic]="'introduction'" [headline]="'After all observables emit, emit values as an array'"></app-page-header>
  <div class="page-content">
      <h2>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h2>
      <h3 class="secondary-color">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h3>
      <h2>Keffiyeh pug raclette fingerstache. Hammock meditation vice mlkshk, hexagon schlitz vexillologist beard organic flexitarian blog meh. Tattooed kale chips venmo pitchfork artisan brooklyn try-hard lo-fi taiyaki pug shoreditch. Cray gastropub mixtape, prism drinking vinegar chambray mlkshk woke fanny pack hashtag hoodie brooklyn selvage.</h2>
  </div>
</div>
