#main {
  display: flex;
  flex-wrap: wrap;
}

#main #navigation {
  width: 300px;
  display: block;
  font-size: 18px;
  font-family: sans-serif;
  height: calc(100vh - 62px);
  height: 100%;
  padding-bottom: 30px;
}

#main #navigation div {
  margin: 2px;
}

#main nav {
  height: calc(100vh - 16px);
  overflow-y: auto;
  background-color: #03192B;
  direction: rtl;
  padding-left: 10px;
  padding-top: 10px;
}
#main nav a{
  text-decoration: none;
  color:whitesmoke;
  direction: ltr;
  padding-left: 5px;
}
#main nav div{
  direction: ltr;
}

#main nav a.active-link{
  color: #06b0d1;
}

#main nav a:hover::after{
  content: " ▶";
}

#main nav a.active-link:hover::after{
  content: "";
}

#main #content {
  width: calc(100% - 312px);
  overflow-y: auto;
  height: calc(100vh - 57px);
}
