#main {
  display: flex;
}

#main #navigation {
  width: 300px;
  display: block;
  font-size: 18px;
  font-family: sans-serif;
}

#main #navigation div {
  margin: 5px;
}

#main nav {
  border-right: 1px solid lightgray;
  height: calc(100vh - 16px);
  overflow-y: scroll;
}
#main nav a{
  text-decoration: none;
}

#main nav a.active-link{
  color: goldenrod;
}

#main nav a:hover::after{
  content: " ▶";
}

#main nav a.active-link:hover::after{
  content: "";
}

#main #content {
  width: calc(100% - 302px);
}
