<!--The content below is only a placeholder and can be replaced.-->
<div id="main">
  <app-header></app-header>
  <nav id="navigation">
    <div><a routerLinkActive="active-link" routerLink="/throttle">throttle</a></div>
    <div><a routerLinkActive="active-link" routerLink="/debounce">debounce</a></div>
    <div><a routerLinkActive="active-link" routerLink="/bufferTime">bufferTime</a></div>
    <div><a routerLinkActive="active-link" routerLink="/zip">zip</a></div>
    <div><a routerLinkActive="active-link" routerLink="/merge">merge</a></div>
    <div><a routerLinkActive="active-link" routerLink="/concat">concat</a></div>
    <div><a routerLinkActive="active-link" routerLink="/race">race</a></div>
    <div><a routerLinkActive="active-link" routerLink="/map">map</a></div>
    <div><a routerLinkActive="active-link" routerLink="/filter">filter</a></div>
    <div><a routerLinkActive="active-link" routerLink="/scan">scan</a></div>
    <div><a routerLinkActive="active-link" routerLink="/reduce">reduce</a></div>
    <div><a routerLinkActive="active-link" routerLink="/elementAt">elementAt</a></div>
    <div><a routerLinkActive="active-link" routerLink="/delayWhen">delayWhen</a></div>
    <div><a routerLinkActive="active-link" routerLink="/distinctUntilChanged">distinctUntilChanged</a></div>
    <div><a routerLinkActive="active-link" routerLink="/distinct">distinct</a></div>
    <!--<div><a routerLinkActive="active-link" routerLink="/pairs">pairs</a></div>-->
    <div><a routerLinkActive="active-link" routerLink="/fromEvent">fromEvent</a></div>
    <div><a routerLinkActive="active-link" routerLink="/forkJoin">forkJoin</a></div>
    <div><a routerLinkActive="active-link" routerLink="/combineAll">combineAll</a></div>
    <div><a routerLinkActive="active-link" routerLink="/combineLatest">combineLatest</a></div>
    <div class="nav-category">
      <div><a routerLinkActive="active-link" routerLink="/switchMap">switchMap</a></div>
      <div><a routerLinkActive="active-link" routerLink="/exhaustMap">exhaustMap</a></div>
      <div><a routerLinkActive="active-link" routerLink="/mergeMap">mergeMap</a></div>
      <div><a routerLinkActive="active-link" routerLink="/concatMap">concatMap</a></div>
    </div>
    <div><a routerLinkActive="active-link" routerLink="/hotVsCold">hotVsCold</a></div>
    <div><a routerLinkActive="active-link" routerLink="/replaySubject">ReplaySubject</a></div>
    <div><a routerLinkActive="active-link" routerLink="/asyncSubject">AsyncSubject</a></div>
    <div><a routerLinkActive="active-link" routerLink="/behaviorSubject">BehaviorSubject</a></div>
  </nav>
  <div id="content" style="text-align:center">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>

