#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  font-family: 'PT Sans', sans-serif;
}

#footer-right {
  width: 0;
  height: 0;
  border-top: 100px solid #03192B;
  border-right: 100px solid transparent;
}

#footer-left {
  background-color: #03192B;
  height: 100px;
  width:200px;
  color: white;
  text-align: center;
}
