<div>
  <h1>Upon click, a new timer stream will be mergeMapped into the observable.</h1>
  <h2>Source stream:</h2>
  <app-marble-diagram #marble></app-marble-diagram>
  <h2>Replayed observable on click (real-time)</h2>
  <app-marble-diagram [observable]="observable"></app-marble-diagram>
  <h2>Replayed observable on click (with slowed-down initial sequence). Note that real emitted values may overlap the slowed-down sequence. This is just to show, that all values are replayed in the beginning. Above, that sequence seems to be one single emit, when in reality there are several values emitted in close succession.</h2>
  <app-marble-diagram [observable]="observable2"></app-marble-diagram>
</div>
