/* You can add global styles to this file, and also import other style files */
h1 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #a11078;
}

h2, a {
  font-family: 'PT Sans', serif;
  font-size: 20px;
  font-weight: 400;
}

h3 {
  font-family: 'Didact Gothic', serif;
  font-size: 18px;
  font-weight: 400;
}
body {
  color: #03192B;
}

.secondary-color {
  color: #06b0d1;
}

.primary-color {
  color: #a11078;
}

.page-content {
  padding: 20px;
  max-width: 700px;
}
